# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
alias dev="cd ~/Development"
alias test="cd ~/Test"
alias web="cd ~/website"
alias fas="cd ~/floopadminscripts"
alias g="git"
alias dot="cd ~/dotfiles"
alias wit="cd ~/wittr"